{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "retainLines": true,
  "sourceMaps": "both"
}